<mat-card class="example-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>
      <h1>Crew Management</h1>
    </mat-card-title>
  </mat-card-header>
  <!--<img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>
      OBY will assist the owner in developing efficient payroll structures. We recruit
      crew based on professionally developed crew contracts that minimize the owner’s
      liability. Prior to organizing potential crew interviews with the owner, we will
      verify the qualifications, check references and ensure that the candidates are
      eligible for the yacht’s flag manning requirements. We will also take care of all the
      travel and visa arrangements for the crew.
    </p>
    <p>
      During our years as yacht management company we have learned that the best
      way of retaining qualified crew is offering them relevant training. This also
      enhances crew’s efficiency in emergency situations which ultimately benefits the
      yacht.
    </p>
  </mat-card-content>
</mat-card>
