<h1 style="text-align: center">Operational Management</h1>
<mat-card class="example-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>
      <h1>Fuel & Dockage</h1>
    </mat-card-title>
  </mat-card-header>
  <!--<img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>
      Due to the scale of our services, we have long lasting relationships with fuel
      suppliers in different parts of the world. This allows us to arrange all the
      bunkering logistics and pass on all the savings to the yacht. Should the captain
      need assistance with any marina reservations, we will organize all the bookings.
    </p>
  </mat-card-content>
</mat-card>
