<h1 style="text-align: center">Operational Management</h1>
<mat-card class="example-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>
      <h1>Refit</h1>
    </mat-card-title>
  </mat-card-header>
  <!--<img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>
      OBY will work closely with the captain and the crew to determine necessary
      annual repairs. These works will be organized in such a manner so that not to
      affect the owner’s time onboard or the charters. Recognizing many owners’
      complaints about uncontrollable shipyard periods, we will make this process as
      smooth as possible: from the very first stage of submitting a detailed estimate to
      the owner, monitoring the spending and work progress on a weekly basis by
      qualified project managers, informing the owner and seeking approval for any
      unexpected expenses, to providing a detailed report about the performed works,
      etc. We will leverage our existing relationships with the shipyards and
      subcontractors around the world to ensure that all the possible savings are passed
      to the yachts.
    </p>
  </mat-card-content>
</mat-card>

