<h1 style="text-align: center">Operational Management</h1>
<mat-card class="example-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>
      <h1>Procurement & Other Yacht Services</h1>
    </mat-card-title>
  </mat-card-header>
  <!--<img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>
      OBY will work closely with the Captain and the crew to obtain necessary spares
      and parts. We <b>DO NOT CHARGE</b> any hidden fees! All the discounts obtained
      from different vendors (satellite providers, engineering, deck and interior
      suppliers, etc.) are passed directly to the yacht. OBY will keep all the yacht
      registration and other documents up to date. We will ensure that all the class and
      flag state surveys are up to date and organize all the necessary inspections and
      surveys.
    </p>
  </mat-card-content>
</mat-card>
