<mat-card class="example-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>
      <h1>Concierge Services & Luxury Lifestyle Management</h1>
    </mat-card-title>
  </mat-card-header>
  <!--<img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>
      We have managed over half a dozen ultra high net worth clients. From managing
      an aircraft, private jet and helicopter charters, buying art or collectible items, fine
      wine advisory, organizing exclusive trips, procurement of culinary experiences to
      managing homes, clients can expect the highest level of personalized, responsive,
      confidential and professional service.
    </p>
    <p>
      Our private aviation affiliate JetFlite International (JFI) is one of the most
      experienced and trusted private aviation services companies in the world. Over
      the past two decades, JFI has operated thousands of flights to practically every
      part of the globe. Whether you need on-demand jet charter or aircraft
      management services, JFI delivers unsurpassed service at all times.
    </p>
    <p>
      We have helped both new and established collectors build significant art
      collections and manage all aspects of their collection administration. We bring a
      financial perspective to our clients' collecting objectives. We understand the
      market cycles and economic realities that create buying and selling opportunities
      around the world and are well positioned to take advantage of them.
    </p>
    <p>
      OBY organizes private trips for UHN individuals across the world. We pride
      ourselves in the ability to satisfy any needs and wishes and create unique
      unforgettable memories. We will coordinate all your accommodations (hotels,
      private villas), cars; arrange five-star dining experiences with private chefs.
    </p>
  </mat-card-content>
</mat-card>

