<mat-card class="example-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>
      <h1>Confidentiality</h1>
    </mat-card-title>
  </mat-card-header>
  <!--<img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>
      We value your and your guests’ privacy. OBY will ensure that any information
      about the beneficial owner, guests, business contacts, finances, activities or
      conducts will be kept fully confidential.
    </p>
  </mat-card-content>
</mat-card>
