<mat-card class="example-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>
      <h1>ISM / ISPS</h1>
    </mat-card-title>
  </mat-card-header>
  <!--<img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>
      The ISM is a documented safety management system, which formalizes
      procedures that a well-run yacht would adopt. The Code promotes a safety
      culture and greatly assists the yacht’s crew to maintain and constantly improve
      standards of operation. Compliance to this Code is mandatory for commercial
      vessels over 500GT. The advantage of using a documented system is that it
      provides records and reports, which are audited by third parties, and
      demonstrates that the vessel is run correctly and to a high standard.
      ISPS code applies to port facilities serving ships on international voyages, to all
      passenger ships on international voyages, and to all other ships over 500 GT on
      international voyages. Therefore, large yachts over 500 GT will need to comply if
      they operate commercially.
    </p>
    <p>
      Should the owner decide to implement full ISM/ISPS with OBY, the service will
      be provided at a separate rate.
    </p>
    <p>
      Even if the yacht is not subject to ISM, we will still operate within the parameters
      of ISM to ensure the highest standard of safety and performance.
    </p>
  </mat-card-content>
</mat-card>
