<h1 style="text-align: center">Operational Management</h1>
<mat-card class="example-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>
      <h1>Technical Support</h1>
    </mat-card-title>
  </mat-card-header>
  <!--<img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>
      Our highly qualified team will assist the captain and the crew with any arising
      technical questions. If there are any problems beyond our expertise, we will
      ensure that we find the right consultants and communicate the solutions to the
      captain.
    </p>
  </mat-card-content>
</mat-card>
